<h1> {{ question.question_text }} </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="POST">{% csrf_token %}
    {% for each_choice in question.choice_set.all %}
        <input type="radio" name="choice" id="each_choice{{ forloop.counter }}" value="{{ each_choice.id }}">
        <label for="each_choice{{ forloop.counter }}">{{ each_choice.choice_text }}</label>
    {% endfor %}
    <input type="submit" value="Vote" />
</form>

